
body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
   background-image: url(https://i.pinimg.com/236x/2e/1e/35/2e1e35d2e97d2e05cccc40092e8ec1a0.jpg);
}

#gul{
    background-color: yellow;
    margin: 1%;
    padding: 1%;
    font-size: large;
     
}

.border{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px rgb(255, 255, 255);
    height: 350px;

}

#tittel{
    padding-left: 25px;
}

.skrift{
    padding-left: 10px;
}

div{
    background-color: chocolate;

}