body{
    background-color: black;
}

.gridcontainer{
    width: 70vw;
    height: 80vh;
    margin: auto;
    gap: 1.5rem;
    display: grid;
    grid-template-areas: 
    "logo title  title main"
    "side image1 info  main"
    "side image2 info  main";
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: repeat(3* 1fr);
}

@media(max-width:600px){
    .gridcontainer{
        width: 90vw;
        grid-template-areas: 
        "logo   title"
        "side   side"
        "image1 info"
        "image2 info"
        "main   main";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}

@media(max-width: 400px){
        .gridcontainer{
        width: 90vw;
        grid-template-areas: 
        "title"
        "side"
        "image1"
        "info"
        "image2"
        "main";
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, minmax(50px, 1fr));
    }
    
    #logo{
        display: none;
    }
}

.box{
        background-color: #888;
}

