.wrapper{
    width: 20vw;
    margin: auto;
}

#hero{
    height: 300px;
    background-color: hsl(165, 60%, 40%)
}

#headline{
    position: absolute;
    top: 90px;
    left: 900px;
    transform: rotate(45deg);
}

#CTA{
    position: fixed;
    
    margin: 0;
    padding: 0;
    top: 300px;
    left: 800px;
    transform: rotate(90deg);

}


#color{
    height: 20px;
    background-color: hsl(90, 60%, 40%);
    border: hsl(90, 60%, 20%);
}
#popout{
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
    left: 50px;
    width: 70vw;
}