.wrapper{
    display: flex;
    flex-direction: row;
    /* min-height: auto; */
    /* align-items: stretch; */
}
.profile{
    flex-grow: 1;
    background-color: antiquewhite;
}
.talkbox{
    flex-grow: 2;
    background-color: darkblue;
    min-height:100vh;
}
.dice{
    flex-grow: 1;
    background-color: darkgoldenrod;
}