body{
    margin: 0;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
}
.profile{
    background-color: #613DC1;
    width: 25%;
}
.talkbox{
    background-color: #0f182d;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.dice{
    background-color: #2C0735;
    width: 25%;
}

.container{
    flex: 0.9;
    align-content: space-evenly;
    gap:1vh;
    overflow-y: scroll;
    margin-bottom: 2vh;
    margin-top: 3.3vh;
}

.textInput{
    margin-top: 2vh;
    position: absolute;
    top: 90%;
}

#inputChat{
    margin-left: 0.5vw;
}


.object{
    background-color: #14213D;
    color:floralwhite;
    margin: 1vh;
}

.blurred {
    filter: blur(5px);
    pointer-events: none; /* Prevent clicks */
    user-select: none;    /* Prevent text selection */
}