body{
    background-color:antiquewhite;
    
}



#subcontainer1{
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 1rem;
    border: 1px solid black;
    width: 200px;

}

.griditems{
    background-color: brown;
    border-radius: 4px;
    border: 1px solid black;
    padding: 1rem;
}

#subcontainer5{
    display: grid;
    grid-template-areas:
    "t t"
    "l m"
    "b b" ;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3*1fr);
    gap: 1rem;
    width: 200px;
    border: 1px solid black;
    padding: 1rem;
}

#overst{
    grid-area: t;
}

#venstre{
    grid-area: l;
}

#hoyre{
    grid-area: m;
}

#nede{
    grid-area: b;
}

#subcontainer9{
    display: grid;
    grid-template-areas: 
    "a b c d d"
    "a e e f g"
    "h e e i g";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3*1fr) ;
    gap: 0.5rem;
    width: 400px;
    padding: 1rem;
    border: 1px solid black;
}

#a{
    grid-area: a;
}
#b{
    grid-area: b;
}
#c{
    grid-area: c;
}
#d{
    grid-area: d;
}
#e{
    grid-area: e;
}
#f{
    grid-area: f;
}
#g{
    grid-area: g;
}
#h{
    grid-area: h;
}
#i{ grid-area: i;
}