.wrapper{
    display: grid;
    grid-template-areas: 
    "logo logo logo logo"
    "left main main sidebar"
    "left main main sidebar";
     grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: repeat(3* 1fr);
    gap: 1.5rem;
    margin: auto;
}

.logo{
    grid-area: logo;
    text-align: center;
    margin: auto;
}


.left{grid-area: left;}


.main{
    grid-area: main;
    display: grid;
    grid-template-areas:
    "num tittel artist sjanger"
    "id name creator genre";
    border: black 1px solid;
    height: auto;
    width: auto;
}

.top{
    grid-area: top;
}

.numme{
    grid-area: num;
}

.tittel{
    grid-area: tittel;
}

.artist{
    grid-area: artist;
}

.sjanger{
    grid-area: sjanger;
}

.liste{
    grid-area: liste;
}

.id{
    grid-area: id;
}

.name{
    grid-area: name;
}

.creator{
    grid-area: creator;
}

.genre{
    grid-area: genre;
}

.sidebar{grid-area: sidebar;}