
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');


/* responsiv til 1020pxw */


hr{
    width: max-content;
    border: none;
    border-top: 2px solid #535353;
    width: 100%;
margin-left: 0;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.btn{
    transition: .07s;
        background-color: #121212;
    color: #29fe74;

}
.btn:hover{

        background-color: #535353;
    color: aliceblue;
    cursor: pointer;
}

.delete:hover{
        animation: shake 0.5s ease-in-out;
        background-color:red;
            color:#121212;
}

body{
    background-color: #121212;
}

.wrapper{
    display: grid;
    grid-template-areas: 
    "left main sidebar";
     grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    row-gap: 3vh;
    column-gap: 1vw;
    margin: auto;
    margin-top: 3vh;
    color: aliceblue;
    font-family: "Gabarito", sans-serif;
    height: 100vh;
}

.main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    gap: 0.5em;
    background-color: #212121;
    border-radius: 1vh;
    padding: 3vh;
    overflow-y: auto;
}

.sidebar{
    grid-area: sidebar;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    gap: 1vh;
    padding-top: 1vh;
    align-self: start;
}

.logo{
    margin: auto;
    text-align: center;
    padding: 1vh;
    color: #1DB954;
    font-weight: 900;
    font-family: "Gabarito", sans-serif;
    font-size: xx-large; 
    transition: 0.5s;
}

.logo:hover{
    transform: scale(1.1);
}


.left{
    padding-top: 3vh;
    grid-area: left;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 1vh;
    background-color: #212121;
    max-height:min-content;
    overflow-y: auto;
    align-self: start;
}

#inputGenre, #inputName, #inputArtist, #sort{
    cursor: pointer;
}

.show{
    cursor: pointer;

}


.add{
    display: none;
}
.space{
    display: flex;
}

.space div{
    width: 10em;
}

.top{
    grid-area: top;
}


@media(max-width: 1020px){
    #add{
        display:show;
    }
}